*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px/16px = 62.5% (0.625)
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  // border-top:3rem solid $color-white;
}

img,
picture {
  display: block;
  max-width: 100%;
  vertical-align: middle; // removes the whitespace that appears under `img`
}

section {
  margin: 0 auto;
  padding: 15rem 0;
  position: relative;

  @include responsive(tab-port) {
    padding: 5rem 0;
  }

  &.bg-dark {
    background-color: $color-primary;
  }

  &.bg-light {
    background-color: $color-gray-light-3;
  }

  &.contact {
    .col-4 {
      justify-items: start;
    }
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
