.card {
	background-color: white;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
	0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
	0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: stretch;
	position: relative;
	transition: transform 0.2s ease-out;

	&:hover {
		transform: translateY(-5px);
		

		.card__cta {
			color: $color-secondary;
			transition: transform 0.2s ease-out, color 0.2s ease-out;
		}
	}

	&__img {
		width: 100%;
		aspect-ratio: 5 / 4;
		object-fit: cover;

		@include responsive(phone) {
			aspect-ratio: 1 / 1;
		}
	}

	&__content {
		background-color: $color-white;
		display: grid;
		gap: .5rem;

		.paragraph {
			margin-bottom: 0;
		}
	}

	&__content,
	&__cta {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	&__cta {
		margin-top: auto;
		padding-bottom: 2.5rem;
		display: flex;
		align-items: center;
		gap: .5rem;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
		}
	}

	&__icon {
		display: flex;
		padding-bottom: .125rem;
	}

	.category {
		background: $color-primary;
		color: white;
		padding: .125rem .75rem;
		margin-bottom: .25rem;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 1.2rem;
		justify-self: start;
	}
}
