.items {
  display: grid;
  gap: 1rem;

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    row-gap: 0.25rem;

    @include responsive(phone) {
      grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    }
  }

  &__item {
    display: flex;
    gap: 1rem;
    
    color: $color-secondary;
    font-size: var(--ff-small);
    text-align: center;
  }

  &__heading {
    font-weight: 500;
    color: $color-secondary-dark;
    text-transform: uppercase;
  }
}